<ion-header no-border="no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
        </ion-buttons>

        <ion-title slot="start" class="ion-no-padding">Catalogo</ion-title>

        <ion-buttons slot="primary">
            <ion-button routerLink="/carro-compra">
                <ion-badge color="primary">{{items}}</ion-badge>
                <ion-icon color="light" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar #buscarArt class="white" placeholder="Buscar..." animated="animated" (keyup.enter)="buscar(buscarArt.value)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div class="ion-text-center">
            <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
        </div>
        <ion-card-content *ngIf="listadoArticulo">
            <ion-item detail="detail" *ngFor="let articulo of listadoArticulo" (click)="abrirModal(articulo)">
                <ion-avatar slot="start">
                    <!--   <img
          *ngIf="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/150%2F{{articulo.sku}}.jpg?alt=media"
           style="height: 50px;  width: 50px"
            src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/150%2F{{articulo.sku}}.jpg?alt=media"> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/150%2F{{articulo.sku}}.jpg?alt=media" onError="this.src='./assets/img/place-150x150.png'" style="height: 50px;  width: 50px">

                </ion-avatar>

                <div>
                    <ion-label style="font-weight: 800" class="encabezado" color="primary">{{articulo.sku}}</ion-label>

                    <p class="dato ion-text-lowercase">{{articulo.nombre}}</p>

                    <span class="encabezado" style="margin-right: 15px;">Stock: {{articulo.stockorden}}</span>

                    <span class="encabezado">{{articulo.fabricante}}</span>
                </div>

                <div slot="end">
                    <ion-badge class="ion-text-end" color="primary" mode="ios" *ngIf="!articulo.precio_escala">
                        {{articulo.precio.precio/1.19| number:'1.0-0' | formatoMoneda}}
                    </ion-badge>

                    <ion-badge class="ion-text-end" color="danger" mode="ios" *ngIf="articulo.precio_escala">
                        {{articulo.precio.precio/1.19| number:'1.0-0' | formatoMoneda}}
                    </ion-badge>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>