<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="inicio">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="vendedores">
            <ion-icon name="person"></ion-icon>
            <ion-label>Vendedores</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="catalogo">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Catalogo</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>

</ion-tabs>