.sombra{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.13);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.13);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.13);
width: 33px;
}
.semana{
    text-align: center;
    background: #ff7e00 ;
}
.semana-texto{
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;

}
.diaMes{
    text-align: center;
    font-size: 11px;
    margin : 0px;
    font-weight: bold;
}
.mes{
    color:#757575;
    text-align: center;
    font-size: 11px;
    margin : 0px;

}