<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard Zona</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="cerrarSesion()">
                <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,slidesAdmin )">
            <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" [disabled]="pag.disabled" [class.segment-button-checked]="pag.cheked">
                <ion-icon [src]="pag.svg">
                </ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slidesAdmin>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Zonas</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <table>
                        <tr class="header">
                            <th>Zona</th>
                            <th>Venta MM</th>
                            <th>Meta MM</th>
                            <th>%</th>
                        </tr>
                        <tr class="body" *ngFor="let zona of listaObjetivos; let i=index" (click)="habilitar(1,slidesAdmin,zona,'SUCURSAL')">
                            <td>{{zona.nombreVendedor}}</td>
                            <td>{{zona.Venta/1000000 | number: '1.0-1'}}</td>
                            <td>{{zona.MetaAcumulada /1000000 | number: '1.0-1'}}</td>
                            <td [class.rojo]="zona.porcentaje <76" [class.amarillo]="75< zona.porcentaje && zona.porcentaje <94 " [class.verde]=" zona.porcentaje >94">{{zona.porcentaje}}</td>
                        </tr>
                        <tr class="footer">
                            <td>Total</td>
                            <td>{{totalVenta /1000000 | number: '1.0-1'}}</td>
                            <td>{{totalMeta /1000000 | number: '1.0-1'}}</td>
                            <td>{{promedio | number: '1.0-1'}}</td>
                        </tr>
                    </table>
                </ion-card-content>
            </ion-card>


        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Tiendas</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <table>
                        <tr class="header">
                            <th>Tienda</th>
                            <th>Venta MM</th>
                            <th>Meta MM</th>
                            <th>%</th>
                        </tr>
                        <tr class="body" *ngFor="let sucursal of sucursales; let i=index" (click)="habilitar(2,slidesAdmin,sucursal,'CANAL')">
                            <td>{{sucursal.nombreVendedor}}</td>
                            <td>{{sucursal.Venta/1000000 | number: '1.0-1'}}</td>
                            <td>{{sucursal.MetaAcumulada /1000000 | number: '1.0-1'}}</td>
                            <td [class.rojo]="sucursal.porcentaje <76" [class.amarillo]="75< sucursal.porcentaje && sucursal.porcentaje <94 " [class.verde]=" sucursal.porcentaje >94">{{sucursal.porcentaje}}</td>
                        </tr>
                        <tr class="footer">
                            <td>Total</td>
                            <td>{{totalVentaSuc /1000000 | number: '1.0-1'}}</td>
                            <td>{{totalMetaSuc /1000000 | number: '1.0-1'}}</td>
                            <td>{{promedioSuc | number: '1.0-1'}}</td>
                        </tr>
                    </table>
                </ion-card-content>
            </ion-card>

        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Canales</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <table>
                        <tr class="header">
                            <th>Canal</th>
                            <th>Venta MM</th>
                            <th>Meta MM</th>
                            <th>%</th>
                        </tr>
                        <tr class="body" *ngFor="let canal of canales; let i=index" (click)="habilitar(3,slidesAdmin,canal,'VENDEDOR')">
                            <td>{{canal.nombreVendedor}}</td>
                            <td>{{canal.Venta/1000000 | number: '1.0-1'}}</td>
                            <td>{{canal.MetaAcumulada /1000000 | number: '1.0-1'}}</td>
                            <td [class.rojo]="canal.porcentaje <76" [class.amarillo]="75< canal.porcentaje && canal.porcentaje <94 " [class.verde]=" canal.porcentaje >94">{{canal.porcentaje}}</td>
                        </tr>
                        <tr class="footer">
                            <td>Total</td>
                            <td>{{totalVentaCan/1000000 | number: '1.0-1'}}</td>
                            <td>{{totalMetaCan /1000000 | number: '1.0-1'}}</td>
                            <td>{{promedioCan | number: '1.0-1'}}</td>
                        </tr>
                    </table>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Vendedores</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <table>
                        <tr class="header">
                            <th>Venededor</th>
                            <th>Venta MM</th>
                            <th>Meta MM</th>
                            <th>%</th>
                        </tr>
                        <tr class="body" *ngFor="let vendedores of vendedores; let i=index">
                            <td>{{vendedores.nombreVendedor}}</td>
                            <td>{{vendedores.Venta/1000000 | number: '1.0-1'}}</td>
                            <td>{{vendedores.MetaAcumulada /1000000 | number: '1.0-1'}}</td>
                            <td>{{vendedores.Venta/vendedores.MetaAcumulada*100 | number: '1.0-0'}}</td>
                        </tr>
                        <tr class="footer">
                            <td>Total</td>
                            <td>{{totalVentaVen /1000000 | number: '1.0-1'}}</td>
                            <td>{{totalMetaVen /1000000 | number: '1.0-1'}}</td>
                            <td>{{promedioVen | number: '1.0-1'}}</td>
                        </tr>
                    </table>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>