<ion-menu side="start" 
            menuId="primerMenu"
            contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-menu-toggle *ngFor="let menu of listaMenu">
        <ion-item [routerLink]="menu.directTo" detail>
          <ion-icon slot="start" [name]="menu.icono"></ion-icon>
          <ion-label>{{menu.nombre}}</ion-label>
        </ion-item>
        
      </ion-menu-toggle>
     
     
    </ion-list>
  </ion-content>
</ion-menu>