<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Vendedores</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar class="white" placeholder="Buscar..." (ionChange)="buscar( $event )"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center">
        <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
    </div>

    <ion-card>
        <ion-card-content>
            <ion-item *ngFor="let vendedor of lstVendedores | filtro: textoBuscar: 'nombreCompleto' :'rutEmpleado'" detail="detail" (click)="verResumen(vendedor)">
                <ion-avatar>
                    <img src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media" onError="this.src='./assets/svg/manager.svg'">
                </ion-avatar>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item lines="none">
                                <ion-label class="datos">{{vendedor.nombreCompleto | slice:0:25}}</ion-label>
                            </ion-item>

                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="none">
                                <ion-icon slot="end" src="./assets/svg/grafico.svg"></ion-icon>
                                <div>
                                    <ion-label class="encabezado">Plan Acum</ion-label>
                                    <ion-label class="datos">${{vendedor.PlanAcumulado /1000000| number:'1.0-0'}}M</ion-label>
                                </div>

                            </ion-item>
                            <ion-item lines="none">
                                <ion-icon slot="end" src="./assets/svg/venta.svg"></ion-icon>
                                <div>
                                    <ion-label class="encabezado">Plan día</ion-label>
                                    <ion-label class="datos">${{vendedor.planDia /1000000| number:'1.0-0'}}M</ion-label>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="none">
                                <ion-icon slot="end" src="./assets/svg/banco.svg"></ion-icon>
                                <div>
                                    <ion-label class="encabezado">Venta Acum</ion-label>
                                    <ion-label class="datos">${{vendedor.ventaAcumulada /1000000| number:'1.0-0'}}M</ion-label>
                                </div>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-icon slot="end" src="./assets/svg/dinero.svg"></ion-icon>
                                <div>
                                    <ion-label class="encabezado">Venta día</ion-label>
                                    <ion-label class="datos">${{vendedor.ventaDia /1000000| number:'1.0-0'}}M</ion-label>
                                </div>

                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <!--  <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-thumbnail>
              <img
                src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media"
                onError="this.src='./assets/svg/manager.svg'">
            </ion-thumbnail>
          </ion-row>
          <ion-card-subtitle class="ion-text-lowercase" style="font-weight: 700;">
            {{vendedor.nombreCompleto | slice:0:30}}...</ion-card-subtitle>

        </ion-card-header> -->
            <!--    <ion-card-content class="ion-no-padding">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-icon slot="end" src="./assets/svg/bus.svg"></ion-icon>
                  <ion-label>Plan Acum ${{vendedor.PlanAcumulado /1000000| number:'1.0-0'}}M</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon slot="end" src="./assets/svg/bus.svg"></ion-icon>
                  <ion-label>Venta Acum${{vendedor.ventaAcumulada /1000000| number:'1.0-0'}}M</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-icon slot="end" src="./assets/svg/bus.svg"></ion-icon>
                  <ion-label>Plan día ${{vendedor.planDia /1000000| number:'1.0-0'}}M</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon slot="end" src="./assets/svg/dinero.svg"></ion-icon>
                  <ion-label>Venta día ${{vendedor.ventaDia /1000000| number:'1.0-0'}}M</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content> -->
        </ion-card-content>
    </ion-card>
    <!--   <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>

          </ion-card>

        </ion-col>

      </ion-row>
    </ion-grid> -->

</ion-content>