ion-item {
    --ion-safe-area-right: 0 !important;
}

.card-content-md,
.card-content-ios {
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-padding-end: 0px !important;
}