/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.gray {
    color: #757575 !important;
}

.primary {
    background-color: var(--ion-color-primary);
    color: white;
}

.tab-selected {
    color: white !important;
}

.titulo-bloqueado {
    font-weight: bolder;
    color: white;
    background-color: var(--ion-color-danger);
}

.x-large {
    font-size: large;
    color: #303138;
    font-weight: bold;
}

ion-toolbar {
    --background: #303138 !important;
    color: white;
}

ion-tab-bar {
    --background: #303138;
}

.encabezado {
    font-size: small !important;
}

.datos {
    font-size: initial;
    font-weight: bold;
}

.derecha {
    text-align: start !important;
}

.white {
    --background: white !important;
}

.monthview-container {
    height: 42% !important;
}

ion-slide> :first-child {
    width: 100%;
    margin-bottom: 20%;
}

.poster {
    width: 110px !important;
    height: 110px !important;
}